<%- include('partical/head'); %>
    <title>Organic Food | Contact</title>

    <body>
        <%- include('partical/header'); %>
            <div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
                <div class="container">
                    <div class="breadcrumb-content text-center">
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li class="active">Contact us</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="contact-area pt-100 pb-100">
                <div class="container">
                    <div class="contact-map mb-10">
                        <div id="map"></div>
                    </div>
                    <div class="custom-row-2">
                        <div class="col-lg-4 col-md-5">
                            <div class="contact-info-wrap">
                                <div class="single-contact-info">
                                    <div class="contact-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="contact-info-dec">
                                        <p>+012 345 678 102</p>
                                        <p>+012 345 678 102</p>
                                    </div>
                                </div>
                                <div class="single-contact-info">
                                    <div class="contact-icon">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                    <div class="contact-info-dec">
                                        <p><a href="#">urname@email.com</a></p>
                                        <p><a href="#">urwebsitenaem.com</a></p>
                                    </div>
                                </div>
                                <div class="single-contact-info">
                                    <div class="contact-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="contact-info-dec">
                                        <p>Address goes here, </p>
                                        <p>street, Crossroad 123.</p>
                                    </div>
                                </div>
                                <div class="contact-social text-center">
                                    <h3>Follow Us</h3>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7">
                            <div class="contact-form">
                                <div class="contact-title mb-30">
                                    <h2>Get In Touch</h2>
                                </div>
                                <form class="contact-form-style" id="contact-form" action="assets/php/mail.php"
                                    method="post">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input name="name" placeholder="Name*" type="text">
                                        </div>
                                        <div class="col-lg-6">
                                            <input name="email" placeholder="Email*" type="email">
                                        </div>
                                        <div class="col-lg-12">
                                            <input name="subject" placeholder="Subject*" type="text">
                                        </div>
                                        <div class="col-lg-12">
                                            <textarea name="message" placeholder="Your Massege*"></textarea>
                                            <button class="submit" type="submit">SEND</button>
                                        </div>
                                    </div>
                                </form>
                                <p class="form-messege"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('partical/footer'); %>
                <%- include('partical/modal'); %>
                    <%- include('partical/scripts'); %>

                        <script src="assets/js/ajax-mail.js"></script>
                        <script
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGM-62ap9R-huo50hJDn05j3x-mU9151Y"></script>
                        <script>
                            function init() {
                                var mapOptions = {
                                    zoom: 11,
                                    scrollwheel: false,
                                    center: new google.maps.LatLng(40.709896, -73.995481),
                                    styles:
                                        [
                                            {
                                                "featureType": "water",
                                                "elementType": "geometry",
                                                "stylers": [
                                                    {
                                                        "color": "#e9e9e9"
                                                    },
                                                    {
                                                        "lightness": 17
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "landscape",
                                                "elementType": "geometry",
                                                "stylers": [
                                                    {
                                                        "color": "#f5f5f5"
                                                    },
                                                    {
                                                        "lightness": 20
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "road.highway",
                                                "elementType": "geometry.fill",
                                                "stylers": [
                                                    {
                                                        "color": "#ffffff"
                                                    },
                                                    {
                                                        "lightness": 17
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "road.highway",
                                                "elementType": "geometry.stroke",
                                                "stylers": [
                                                    {
                                                        "color": "#ffffff"
                                                    },
                                                    {
                                                        "lightness": 29
                                                    },
                                                    {
                                                        "weight": 0.2
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "road.arterial",
                                                "elementType": "geometry",
                                                "stylers": [
                                                    {
                                                        "color": "#ffffff"
                                                    },
                                                    {
                                                        "lightness": 18
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "road.local",
                                                "elementType": "geometry",
                                                "stylers": [
                                                    {
                                                        "color": "#ffffff"
                                                    },
                                                    {
                                                        "lightness": 16
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "poi",
                                                "elementType": "geometry",
                                                "stylers": [
                                                    {
                                                        "color": "#f5f5f5"
                                                    },
                                                    {
                                                        "lightness": 21
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "poi.park",
                                                "elementType": "geometry",
                                                "stylers": [
                                                    {
                                                        "color": "#dedede"
                                                    },
                                                    {
                                                        "lightness": 21
                                                    }
                                                ]
                                            },
                                            {
                                                "elementType": "labels.text.stroke",
                                                "stylers": [
                                                    {
                                                        "visibility": "on"
                                                    },
                                                    {
                                                        "color": "#ffffff"
                                                    },
                                                    {
                                                        "lightness": 16
                                                    }
                                                ]
                                            },
                                            {
                                                "elementType": "labels.text.fill",
                                                "stylers": [
                                                    {
                                                        "saturation": 36
                                                    },
                                                    {
                                                        "color": "#333333"
                                                    },
                                                    {
                                                        "lightness": 40
                                                    }
                                                ]
                                            },
                                            {
                                                "elementType": "labels.icon",
                                                "stylers": [
                                                    {
                                                        "visibility": "off"
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "transit",
                                                "elementType": "geometry",
                                                "stylers": [
                                                    {
                                                        "color": "#f2f2f2"
                                                    },
                                                    {
                                                        "lightness": 19
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "administrative",
                                                "elementType": "geometry.fill",
                                                "stylers": [
                                                    {
                                                        "color": "#fefefe"
                                                    },
                                                    {
                                                        "lightness": 20
                                                    }
                                                ]
                                            },
                                            {
                                                "featureType": "administrative",
                                                "elementType": "geometry.stroke",
                                                "stylers": [
                                                    {
                                                        "color": "#fefefe"
                                                    },
                                                    {
                                                        "lightness": 17
                                                    },
                                                    {
                                                        "weight": 1.2
                                                    }
                                                ]
                                            }
                                        ]
                                };
                                var mapElement = document.getElementById('map');
                                var map = new google.maps.Map(mapElement, mapOptions);
                                var marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(40.709896, -73.995481),
                                    map: map,
                                    icon: 'assets/img/icon-img/2.png',
                                    animation: google.maps.Animation.BOUNCE,
                                    title: 'Snazzy!'
                                });
                            }
                            google.maps.event.addDomListener(window, 'load', init);
                        </script>

    </body>

    </html>